<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
	{{ partial "head-essential.html" . }}	
	<title>{{ if .IsHome }}revo
		{{ else }}{{ if .Title }}
		{{ .Title }} | revo
		{{ else }} revo
		{{ end }}{{ end }}
	</title>
	<link rel="icon" href="/favicon.ico" type="image/gif">
	<link rel='stylesheet' type='text/css' href='/wiki.css'>
	<link rel='stylesheet' type='text/css' href='/revo/repl.css'>
	<script type="importmap">
	{
		"imports": {
			"codemirror": "/vendor/codemirror.js",
			"@codemirror/view": "/vendor/@codemirror/view.js",
			"@codemirror/state": "/vendor/@codemirror/state.js",
			"@codemirror/language": "/vendor/@codemirror/language.js",
			"@codemirror/commands": "/vendor/@codemirror/commands.js",
			"@codemirror/search": "/vendor/@codemirror/search.js",
			"@codemirror/autocomplete": "/vendor/@codemirror/autocomplete.js",
			"@codemirror/lint": "/vendor/@codemirror/lint.js",
			"@codemirror/theme-one-dark": "/vendor/@codemirror/theme-one-dark.js",
			"@codemirror/lang-json": "/vendor/@codemirror/lang-json.js",
			"@replit/codemirror-vim": "/vendor/@replit/codemirror-vim.js",
			"@replit/codemirror-vim-core": "/vendor/@replit/codemirror-vim-core.js",
			"@lezer/common": "/vendor/@lezer/common.js",
			"@lezer/highlight": "/vendor/@lezer/highlight.js",
			"@lezer/json": "/vendor/@lezer/json.js",
			"@lezer/lr": "/vendor/@lezer/lr.js",
			"style-mod": "/vendor/style-mod.js",
			"w3c-keyname": "/vendor/w3c-keyname.js",
			"@marijn/find-cluster-break": "/vendor/@marijn/find-cluster-break.js",
			"crelt": "/vendor/crelt.js"
		}
	}
	</script>
</head>

<body>
	<nav class="sidebar">
		<h3><a id="title" href="/revo/">revo</a>, by <a id="title" href="/">me</a></h3>
		{{ $currentPage := . }}
		{{ $wikiPages := where .Site.RegularPages "Section" "revo" }}
		{{ $rootPages := where $wikiPages "File.Dir" "revo/" }}
		{{ $subdirs := slice }}
		{{ range $wikiPages }}
		{{ $dir := .File.Dir }}
		{{ if and (ne $dir "revo/") (hasPrefix $dir "revo/") }}
		{{ $subdir := index (split $dir "/") 1 }}
		{{ if not (in $subdirs $subdir) }}
		{{ $subdirs = $subdirs | append $subdir }}
		{{ end }}
		{{ end }}
		{{ end }}

		<ul>
			{{ range $rootPages }}
			<li>
				<a href="{{ .RelPermalink }}" {{ if eq $currentPage.Permalink .Permalink }} class="active" {{ end }}>{{ .Title
					}}</a>
			</li>
			{{ end }}
			{{ range sort $subdirs }}
			{{ $subdir := . }}
			<li>
				{{ $subdir }}
				<ul>
					{{ range where $wikiPages "File.Dir" (printf "revo/%s/" $subdir) }}
					<li>
						<a href="{{ .RelPermalink }}" {{ if eq $currentPage.Permalink .Permalink }} class="active" {{ end }}>{{
							.Title }}</a>
					</li>
					{{ end }}
				</ul>
			</li>
			{{ end }}
		</ul>
		<button id="vim-toggle" class="sidebar-vim">vim</button>
	</nav>
	<main class="content">
		{{ block "main" . }}{{ end }}
	</main>
</body>
<script type="module" src="/revo/repl.js"></script>
<script>
	document.querySelectorAll("code-editor").forEach(el => {
		customElements.upgrade(el);
	});
</script>

</html>
