<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Site.BaseURL }}">
  <link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
  <link rel='stylesheet' type='text/css' href='/new.css'>
  {{ with .Site.Params.favicon }}
  <link rel="icon" href="{{ . }}">
  {{ end -}}
  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
  {{ if isset .Params "tags" }}
  <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . " , " }}{{ end }}">
  {{ end -}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta charset="utf-8">
  <script>
    window.goatcounter = {
      path: location.pathname || '/',
    }
  </script>
  <script data-goatcounter="https://if-not-nil.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>

<body>
  {{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
    {{- if .Param "showrss" }}<br><br><a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed"
        title="Subscribe via RSS for updates."></a>{{ end }}
  </footer>
</body>

</html>
