{{ define "main" }}
<article>
	{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
	<span class="articleheader">
		<h1>{{ .Title }}</h1>
		<p>{{ .Params.description }}<br />
		<span style="font-size:14px;"> {{ .Date.Format "January 2, 2006" }}</span>
		</p>
		<hr>
	</span>
	<a href="https://github.com/if-not-nil/if-not-nil.github.io/issues/new">comments</a>
	<section>{{ .Content }}</section>
	{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</article>
{{ end }}
