<header>
    <h1>{{ .Site.Title }}</h1>

        <nav>
            <a href="{{ .Site.BaseURL }}/">home</a> /
            <!-- <a href="{{ .Site.BaseURL }}/me">me</a> / -->
            <a href="https://github.com/qwool">github</a>
        </nav>    <!-- <span> -->
        <!-- <span> -->
            <!-- <a href="/">index// </a> -->
            <!-- <a>posts// </a> -->
        <!-- </span> -->
        <!-- <p><i>a monad is a monoid in the category of endofunctors</i></p> -->
    <!-- </span> -->
</header>
