:root {
	--redrose: #321b19;
	--redderrose: #712b2a;
	--wall: #626059;
	--whiterose: #dee3e7;
	--pinkrose: #c3b7b9;
	--pinkshadow: #753239;
	--leaf: #3b463d;
	--leaf2: #454e4e;
	--creamrose: #efede4;
	--table: #352f29;
	--purple: #513889;
	--pink: #e4b3d0;
	--periwinkle: #8d84bb;
	--skyblue: #b2d9f6;

	--rat: #0a0e11;
}

blockquote {
	background: var(--rat);
	font-style: italic;
	padding: 0.2em 4em 0.2em 40px;
	margin-left: 0px;
	display: inline-block;
}

html {
	background: #0a0e11;
}

body {
	--font-sans: 'Segoe UI', 'Noto Sans Mono', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: var(--font-sans);
	background: #0e1316;
	color: #d3c4aa;
	margin: 0;
	min-height: 100vh;
}

.sidebar {
	padding: 1em;
	overflow-y: auto;
	max-height: 400px;
	background: var(--rat);
	width: 100%;
	box-sizing: border-box;
}

.sidebar ul {
	list-style: none;
	padding-left: 1rem;
	margin: 0;
}

.sidebar>ul {
	padding-left: 0;
}

.sidebar li {
	margin: 0.25rem 0;
}

.sidebar a {
	color: var(--redrose);
	text-decoration: none;
}

.content {
	padding: 2rem;
	max-width: 100%;
	box-sizing: border-box;
}

@media (min-width: 1000px) {
	body {
		display: flex;
	}

	.sidebar {
		width: 250px;
		height: 100vh;
		position: sticky;
		top: 0;
		max-height: none;
		flex-shrink: 0;
		padding: 1em;
	}

	.content {
		padding: 4rem 8rem 4rem 4rem;
		max-width: 800px;
	}
}

@media (min-width: 1300px) {
	.content {
		max-width: 1100px;
	}
}

a,
a:visited {
	color: var(--periwinkle);
}

a.active,
a:hover {
	font-weight: bold;
	background-color: var(--periwinkle);
	color: var(--rat);
	text-decoration: underline;
}

pre,
code {
	font-family: 'Fira Mono', 'Noto Sans Mono', monospace;
}

pre {
	padding: 0.5em;
	overflow-x: auto;
}
