:root {
	--redrose: #321b19;
	--redderrose: #712b2a;
	--wall: #626059;
	--whiterose: #dee3e7;
	--pinkrose: #c3b7b9;
	--pinkshadow: #753239;
	--leaf: #3b463d;
	--leaf2: #454e4e;
	--creamrose: #efede4;
	--table: #352f29;
	--purple: #513889;
	--pink: #e4b3d0;
	--periwinkle: #8d84bb;
	--skyblue: #b2d9f6;
	--rat: #0a0e11;
}


blockquote {
	background: var(--rat);
	font-style: italic;
	padding: 0.5em 2em 0.5em 1.25em;
	margin-left: 0;
	border-left: 3px solid var(--periwinkle);
	display: block;
}

html {
	background: #0a0e11;
}

.ascii {
	margin: 0;
	font-family: monospace;
	white-space: pre;
	max-width: 100%;
	flex-shrink: 1;
	font-size: clamp(4px, 1.2vw, 12px);
	padding: 0;
	font-weight: bolder;
	text-shadow: 1ch 1ch #ffffff88;
	padding-right: 2ch;
}

.ascii.small {
	font-size: clamp(4px, 1vw, 8px);
}

body {
	--font-sans: 'Segoe UI', 'Noto Sans Mono', -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono: 'Maple Mono NL NF', 'Ubuntu Mono', 'Fira Mono', 'Noto Sans Mono', monospace;
	font-family: var(--font-sans);
	background: #0e1316;
	color: #d3c4aa;
	margin: 0;
	min-height: 100vh;
}

.sidebar {
	padding: 1em;
	overflow-y: auto;
	max-height: 400px;
	background: var(--rat);
	width: 100%;
	box-sizing: border-box;
}

.sidebar ul {
	list-style: none;
	padding-left: 1ch;
	margin: 0;
}

.sidebar>ul {
	padding-left: 0;
}

.sidebar li {
	margin: 0.25rem 0;
}

.sidebar a {
	text-decoration: none;
	color: var(--pinkrose);
}

.content {
	padding: 2rem;
	width: 100%;
	max-width: 72ch;
	box-sizing: border-box;
}

@media (min-width: 1000px) {
	body {
		display: flex;
	}

	.sidebar {
		width: 15vw;
		height: 100vh;
		position: sticky;
		top: 0;
		max-height: none;
		flex-shrink: 0;
		padding: 1em;
	}

	.content {
		padding: 4rem 8rem 4rem 4rem;
		max-width: 85vw;
	}
}

a,
a:visited {
	color: var(--periwinkle);
}

a.active,
a:hover {
	font-weight: bold;
	background-color: var(--periwinkle);
	color: var(--rat);
	text-decoration: underline;
}

pre,
code {
	font-family: 'Maple Mono NL NF', 'Ubuntu Mono', 'Fira Mono', 'Noto Sans Mono', monospace;
}

pre {
	padding: 0.5em;
	overflow-x: auto;
}
